<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitap Ekle</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
      body {
        font-family: "Inter", sans-serif;
        background-position: center;
        background-image: url("static/background.png");
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }

      .glass-container {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      }

      .alert {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
      }
      a {
        display: block;
        margin-top: 10px;
        color: wheat;
        text-decoration: none;
      }

      a:hover {
        color: #4caf50;
      }
    </style>
  </head>

  <body class="text-gray-900">
    <div
      class="glass-container w-full max-w-lg p-8 rounded-3x1 text-white backdrop-saturate-200"
    >
      <h2 class="text-3xl font-bold mb-6 text-center text-white">
        Yeni Kitap Ekle
      </h2>
      <form id="kitapEkleForm" method="POST" action="/kitap-form-gonder">
        <div class="mb-4">
          <label for="baslik" class="block text-sm font-medium mb-2"
            >Kitap Başlığı</label
          >
          <!--Bir form elemanına (genellikle <input>) açıklama eklemek için kullanılır.Yani kullanıcıya “Bu kutuya ne yazılacak?” bilgisini verir. -->
          <input
            type="text"
            id="baslik"
            name="baslik"
            required
            class="w-full p-3 rounded-xl border border-gray-300 text-gray-900 focus:ring-indigo-500 transition duration-150"
            placeholder="Kitap başlığı yazın."
          />
        </div>
        <div class="mb-4">
          <label for="yazar" class="block text-sm font-medium mb-2"
            >Yazar Adı</label
          >
          <input
            type="text"
            id="yazar"
            name="yazar"
            required
            class="w-full p-3 rounded-xl border border-gray-300 text-gray-900 focus:ring-indigo-500 transition duration-150"
            placeholder="Yazar Adı yazın."
          />
        </div>

        <div class="mb-4">
          <label for="kategori" class="block text-sm font-medium mb-2">
            Kategori Seçin
          </label>

          <select
            name="kategori_id"
            id="kategori"
            required
            class="w-full p-3 rounded-xl border border-gray-300 bg-white text-gray-900 focus:ring-indigo-500 transition"
          >
            <option value="">Kategori seçin</option>
            {% for kategori in kategoriler %}
            <option value="{{ kategori.isim }}">{{ kategori.isim }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-6">
          <label for="image_url" class="block text-sm font-medium mb-2"
            >Kitap Resmi Url girin.(opsiyonel)</label
          >
          <input
            type="url"
            id="image_url"
            name="image_url"
            class="w-full p-3 rounded-xl border border-gray-300 text-gray-900 focus:ring-indigo-500 focus:border-indigo-500 transition duration-150"
            placeholder="Kitap image url yazın."
          />
        </div>
        <div class="mb-4">
          <label for="mevcut" class="block text-sm font-medium mb-2"
            >Stok</label
          >
          <input
            type="number"
            id="mevcut"
            name="mevcut"
            required
            min="1"
            class="w-full p-3 rounded-xl border border-gray-300 text-gray-900 focus:ring-indigo-500 focus:border-indigo-500 transition duration-150"
            placeholder="Stok sayısını girin."
          />
        </div>

        <div class="mb-4">
          <label for="detay" class="block text-sm font-medium mb-2"
            >Kitap Detayı</label
          >
          <input
            type="text"
            id="detay"
            name="detay"
            required
            class="w-full p-3 rounded-xl border border-gray-300 text-gray-900 focus:ring-indigo-500 transition duration-150"
            placeholder="Kitap Detayını yazın."
          />
        </div>

        <button
          type="submit"
          class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-4 rounded-xl transition duration-300 focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50"
        >
          Kitabı Kaydet
        </button>
      </form>
    </div>

    <div
      id="messageBox"
      class="alert hidden bg-green-500 text-white p-4 rounded-lg shadow-xl"
    >
      <span id="messageText" class="font-medium"></span>
    </div>
    <a href="{{ url_for('user_bp.personel_panel') }}">Geri Dön</a>
    <script>
      document
        .getElementById("kitapEkleForm")
        .addEventListener("submit", function (e) {
          e.preventDefault(); //Formun normal sayfa yenilemesini durdurur (sayfa yeniden yüklenmez).AJAX (fetch) ile veriler arka planda gönderilecektir
          //Formdaki tüm bilgileri alır ve data adında bir JavaScript objesine dönüştürür.
          const form = e.target;
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries()); //JavaScript’te form verilerini kolayca bir nesneye dönüştürmek için kullanılır.formData.entries() bu değerleri [anahtar, değer] çiftleri (bir dizi gibi) olarak döner.Bu metot, böyle bir çiftler dizisini nesneye dönüştürür.

          const kategori = document.getElementById("kategori").value;
          data.kategori_id = kategori;

          fetch(form.action, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          }) //Form verilerini Flask sunucusuna JSON formatında gönderir.
            .then(
              (response) =>
                response
                  .json()
                  .then((data) => ({ status: response.status, body: data })) //Sunucudan gelen yanıtı JSON olarak çözer
            )
            .then(({ status, body }) => {
              //.then() metodu, bir Promise başarılı şekilde sonuçlandığında (örneğin, fetch() isteği sunucudan cevap aldığında) çalışır.İçine yazdığın fonksiyon, o cevabı parametre olarak alır.({ status, body }) “destructuring” (nesne parçalama) denir.
              const messageBox = document.getElementById("messageBox");
              const messageText = document.getElementById("messageText");

              if (status === 200) {
                messageBox.classList.remove("hidden", "bg-red-500");
                messageBox.classList.add("bg-green-500");
                messageText.textContent =
                  body.mesaj || "Kitap Başarıyla Eklendi";
                form.reset();
              } else {
                messageBox.classList.remove("hidden", "bg-red-500");
                messageBox.classList.add("bg-green-500");
                messageText.textContent =
                  body.mesaj || "Kitap Başarıyla Eklendi";

                messageText.textContent = body.hata || "Bir hata oluştu";
              }

              setTimeout(() => {
                messageBox.classList.add("hidden");
              }, 2000);
            })
            .catch((error) => {
              console.error("Fetch Hatası: ", error);
              const messageBox = document.getElementById("messageBox");
              const messageText = document.getElementById("messageText");
              messageBox.classList.remove("hidden", "bg-red-500");
              messageBox.classList.add("bg-green-500");
              messageText.textContent = "Sunucuya bağlanılmadı.";
              setTimeout(() => {
                messageBox.classList.add("hidden");
              }, 2000);
            });
        });
    </script>
  </body>
</html>
